<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header> <i>header</i></header>
    <div>
        @RenderBody()
    </div>
    <footer><i>footer</i></footer>
</body>
</html>
